[user]
	email = manhnb1911@gmail.com
	name = Manh Nguyen
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[push]
	autoSetupRemote = true
	followTags = true
[pull]
	ff = only
[alias]
	yike = "!git fetch -p && git pull"
    frp = "!git fetch && git rebase && git push"
    frs = "!git fetch && git stash save && git rebase && git stash pop"
[core]
	editor = vim
	autocrlf = input
[init]
	defaultBranch = master
[advice]
	diverging = false
    detachedHead = false
	addEmbeddedRepo = false
	addEmptyPathspec = false
	skippedCherryPicks = false
